.page_title {
    font-family: sans-serif;
    color: #222f3e;
}
.page_title .cast {
    display: flex;
    gap: 3px;
    overflow-y: scroll;
}


.page_title  .cast  .item {
    min-width: 100px;
    min-height: 150px;
    text-align: left;
    font-family: sans-serif;
}

.page_title .cast  .item p {
    padding: 0;
    margin: 0;
}

.page_title .cast  .item .avatar {
    background: gray;
    width: 100%;
    height: 100px;
    margin-bottom: 6px;
    border-radius: 4px;
    background-position: center center;
    background-size: cover;
}

.page_title .cast  .item .context small {
    color: #576574;
}

.page_title .header {
    padding-bottom: 10px;
    padding-top: 10px;
}

.page_title .header label {
    font-weight: 400;
    font-size: 1.2rem;
    color: #222f3e;
    text-transform: uppercase;
    font-family: sans-serif;
}

.page_title .avatarTitle {
    width: 100px;
}


.page_title .title {
    display: flex;
    gap: 6px;
    align-items: flex-start;
}


.page_title .title img {
    max-width: 100px;
    max-height: 150px;
    border-radius: 4px;
    margin-top: 10px;
}

.page_title .uploadProgressBar {
    background: #c8d6e58b;
    width: 100vw;
    height: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.page_title .uploadProgressBar  .progress {
    background: #5f27cd;
    width: 90%;
    height: 100%;
    border-radius: 6px;
}

.page_title .genres {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    overflow: auto;
}

.page_title .genres .item {
    background: #222f3e0c;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding: 4px;
}