ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listTitles {
    display: flex;
    gap: 3px;
    overflow: scroll;
}

.title {
    width: 104px;
    max-height: 260px;
}

.title .thumbnail {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 150px;
    border-radius: 3px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}